body {
  background-color: #abcdd0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #8bcdd0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  padding: 14px 0;
}

h1 {
  color: navy;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
}