body {
  background-color: #abcdd0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #8bcdd0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  padding: 14px 0;
}

.navbar .nav-item {
  color: dark-orange;
  text-decoration: none;
  padding: 14px 20px;
  font-family: sans-serif;
  font-size: 16px;
  transition: background 0.3s;
}

.navbar .nav-item:hover {
  background-color: #123231;
  border-radius: 4px;
}

h1 {
  color: navy;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
}